[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Hotkeys
Name[az]=Hotkeys
Name[bg]=Бързи клавиши
Name[bn]=হট
Name[ca]=Tecles d'accés ràpid
Name[cs]=Klávesové zkratky
Name[da]=Genvejstaster
Name[de]=Hotkeys
Name[el]=Hotkeys
Name[eo]=Hotkeys
Name[es]=Teclas de acceso rápido
Name[et]=Kiirklahvid
Name[fi]=Hotkeys
Name[fr]=Hotkeys
Name[hi]=हॉटकी
Name[hr]=Hotkeys
Name[hu]=Gyorsbillentyűk
Name[id]=Hotkeys
Name[it]=Tasti di scelta rapida
Name[ja]=ホットキー
Name[ko]=단축키
Name[lt]=Spartieji klavišai
Name[lv]=Karstie taustiņi
Name[ms]=Hotkeys
Name[nb]=Hurtigtaster
Name[nl]=Sneltoetsen
Name[no]=Hurtigtaster
Name[pl]=Skróty klawiszowe
Name[pt]=Hotkeys
Name[ro]=Hotkeys
Name[sk]=Klávesové skratky
Name[sl]=Hotkeys
Name[sr]=Хоткеис
Name[sv]=Snabbtangenter
Name[te]=కీలు
Name[tl]=Mga Hotkey
Name[tr]=Kısayol tuşları
Name[uk]=Гарячі клавіші
Name[vi]=Phím nóng
Comment=Fast controls to boost productivity
Comment[az]=Məhsuldarlığı artırmaq üçün tez nəzarət edir
Comment[bg]=Бързо управление за повишаване на производителността
Comment[bn]=উত্পাদনশীলতা বাড়ানোর জন্য দ্রুত নিয়ন্ত্রণ
Comment[ca]=Controls ràpids per augmentar la productivitat
Comment[cs]=Rychlá kontrola zvýšení produktivity
Comment[da]=Hurtig kontrol for at øge produktiviteten
Comment[de]=Schnelle Steuerung zur Steigerung der Produktivität
Comment[el]=Γρήγοροι έλεγχοι για την αύξηση της παραγωγικότητας
Comment[eo]=Rapida kontrolo por akceli produktivecon
Comment[es]=Controles rápidos para aumentar la productividad
Comment[et]=Kiire juhtimine, et suurendada tootlikkust
Comment[fi]=Nopeat säädöt tuottavuuden parantamiseksi
Comment[fr]=Des commandes rapides pour stimuler la productivité
Comment[hi]=उत्पादकता बढ़ाने के लिए फास्ट कंट्रोल
Comment[hr]=Brze kontrole za povećanje produktivnosti
Comment[hu]=Gyors vezérlés a termelékenység növelése érdekében
Comment[id]=Kontrol cepat untuk meningkatkan produktivitas
Comment[it]=Controlli rapidi per aumentare la produttività
Comment[ja]=生産性を向上させる高速コントロール
Comment[ko]=빠른 제어로 생산성 향상
Comment[lt]=Greitas valdymas produktyvumui didinti
Comment[lv]=Ātrās vadības, lai palielinātu produktivitāti
Comment[ms]=Kawalan cepat untuk meningkatkan produktiviti
Comment[nb]=Rask kontroll for å øke produktiviteten
Comment[nl]=Snelle bedieningselementen om de productiviteit te verhogen
Comment[no]=Rask kontroll for å øke produktiviteten
Comment[pl]=Szybkie sterowanie w celu zwiększenia wydajności
Comment[pt]=Controles rápidos para aumentar a produtividade
Comment[ro]=Comenzi rapide pentru creșterea productivității
Comment[sk]=Rýchle ovládanie pre zvýšenie produktivity
Comment[sl]=Hitri nadzor za povečanje produktivnosti
Comment[sr]=Брзе контроле за повећање продуктивности
Comment[sv]=Snabba kontroller för att öka produktiviteten
Comment[te]=ఉత్పాదకత పెంచడానికి ఫాస్ట్ నియంత్రణలు
Comment[tl]=Mabilis na mga kontrol upang mapalakas ang pagiging produktibo
Comment[tr]=Üretkenliği artırmak için hızlı kontroller
Comment[uk]=Швидкий контроль для підвищення продуктивності
Comment[vi]=Kiểm soát nhanh để tăng năng suất
#Categories=Elive;Help
Categories=Elive
StartupNotify=true
NoDisplay=false
Icon=gnome-help
Exec=elive-help --hotkeys --fs
